body {
    text-align:center;
    align-items: center;
    background-color: black;
    color:white;
}



p {
    font-size: 8px;
}




/* HEADINGS */

h4 {
    text-decoration: underline;
}

.header--main {
    color:darkgoldenrod;
    text-decoration: underline;
}

.header--sub {
    color: white;
    text-decoration: underline;
    margin-top: 50px;
}

/* CONTAINERS */

.box {
    width:100%;
    margin: 50px auto;
}

.box--2 {
    width: 100%;
    column-gap: 50px;
    height: 100%;
    z-index: -1;
    margin-bottom: 50px;
    display: table;
}

.box--item {
    background-color: rgba(255, 255, 255, 0.863);
    color: black;
    border-radius: 20px;
    padding: 20px 20px;
    border: 5px solid darkgoldenrod;
    margin: 20px 40px 20px 40px;
}

/* IMAGES */

.img--1 {
    width:200px;

}

.box--item:hover, p:hover {
    color:white;
    background-color: black;
    font-size: 20px;
}


/*
.img--1:hover {
    transform:scale(1.5);
    -ms-transform:scale(4.5);
    -moz-transform:scale(4.5);
    -webkit-transform:scale(4.5); 
    -o-transform:scale(4.5);
} */ 

/* LISTS AND PARAGRAPHS */

